Repository adobecom/nala, pull requests merged in 2022-10, with the labels that each got.

#26 Labels
  .github/workflows/playwright.yml
  .github/workflows/self.yml
  README.md
  action.yml
  run.sh
Labels: run-janus, @marquee, @columns

#22 Added Failed Block Test
  features/failedblock.spec.js
  selectors/failedblock.selectors.js
  tests/failedblockcheck.test.js
Labels: run-janus, @failed-block

#30 removed duplicate block pages
  features/failedblock.spec.js
Labels: @failedblock, run-nala, trivial
