Repository adobecom/nala, pull requests merged in 2022-11, with the labels that each got.

#34 GitHub Actions update
  .github/workflows/daily.yml
  .github/workflows/self.yml
Labels: @columns, run-nala

#33 Adding modal tests
  features/modal.spec.js
  selectors/marquee.selectors.js
  selectors/modal.selectors.js
  tests/modal.test.js
Labels: run-nala, @modal

#35 Adding Marketo form tests
  features/marketo.spec.js
  selectors/marketo.selectors.js
  tests/marketo.test.js
Labels: run-nala, @marketo

#37 added debugging github actions
  .github/workflows/debug.yml
Labels: run-nala

#32 FaaS Testing
  .github/workflows/debug.yml
  features/faas.spec.js
  package-lock.json
  package.json
  selectors/faas.selectors.js
  tests/faas.test.js
Labels: run-nala, @faas
