Repository adobecom/nala, pull requests merged in 2023-05, with the labels that each got.

#90 [MWPW-128180] Added FEDS user-profile checks
  features/feds/consent.spec.js
  features/feds/userprofile.spec.js
  selectors/feds/feds.login.page.js
  tests/feds/userprofile.test.js
Labels: @feds-consent, @feds-userprofile, run-feds-live

#113 MWPW-130636 : Update test folder path in configs
  configs/acom.config.js
  configs/bacom.config.js
  configs/blog.config.js
  configs/dc.config.js
  configs/feds.config.js
  configs/milo.config.js
  playwright.config.js
Labels: @marquee, run-milo-live

#114 Fix media (small) block CSS font and color step failing
  selectors/milo/media.block.page.js
Labels: run-milo-live, @media

#59 build automation for existing quiz page in nala
  configs/uar.config.js
  data/uar/quiz/quiz-double-flagship-design-illustration.yml
  data/uar/quiz/quiz-double-flagship-photo-illustration.yml
  data/uar/quiz/quiz-double-template.yml
  data/uar/quiz/quiz-single-3D.yml
  data/uar/quiz/quiz-single-flagship-photo.yml
  data/uar/quiz/quiz-single-flagship-video.yml
  data/uar/quiz/quiz-single-template.yml
  data/uar/quiz/quiz-triple-flagship-photo-video-pdf.yml
  data/uar/quiz/quiz-triple-template.yml
  data/uar/quiz/result-single-template.json
  features/uar/quiz.spec.js
  features/uar/result.spec.js
  libs/webutil.js
  package-lock.json
  package.json
  selectors/uar/quiz.page.js
  selectors/uar/quiz.selector.js
  selectors/uar/result.page.js
  tests/uar/quiz.test.js
  tests/uar/result.test.js
Labels: @quiz, run-adobe-prod, run-adobe-stage

#115 Milo Text block automation scripts
  features/milo/text.block.spec.js
  selectors/milo/text.block.page.js
  tests/milo/text.block.test.js
Labels: run-milo-live, run-milo-prod, @text

#116 MWPW-130783 Z-Pattern automation scripts
  features/milo/zpattern.block.spec.js
  selectors/milo/zpattern.block.page.js
  tests/milo/zpattern.block.test.js
Labels: run-milo-live, run-milo-prod, @zpattern

#119 Added two urls to failed block test
  envs/envs.js
  features/milo/failedblock.spec.js
Labels: @failedblock, run-nala

#120 MWPW-131080 : Modal feature automation test scripts
  features/milo/modal.block.spec.js
  features/milo/modal.spec.js
  libs/webutil.js
  selectors/milo/marquee.block.page.js
  selectors/milo/modal.block.page.js
  selectors/milo/modal.selectors.js
  selectors/milo/text.block.page.js
  tests/milo/modal.block.test.js
  tests/milo/modal.test.js
Labels: @marquee, @modal, run-milo-live, @text

#121 MWPW-131244 : Review block automation test scripts
  configs/dc.config.js
  configs/feds.config.js
  envs/envs.js
  features/milo/carousel.spec.js
  features/milo/review.block.spec.js
  features/milo/review.spec.js
  selectors/milo/carousel.selectors.js
  selectors/milo/review.block.page.js
  selectors/milo/review.selectors.js
  tests/milo/carousel.test.js
  tests/milo/review.block.test.js
  tests/milo/review.test.js
Labels: @carousel, run-milo-live, run-milo-prod, @Review

#124 removed version 1 of georouting
  features/milo/georouting.spec.js
  features/milo/georoutingV2.spec.js
  selectors/milo/georouting.selectors.js
  selectors/milo/georoutingV2.selectors.js
  tests/milo/georouting.test.js
  tests/milo/georoutingV2.test.js
Labels: run-nala, @georouting

#125 MWPW-131779 : Quote block automation test scripts
  features/milo/quote.block.spec.js
  selectors/milo/quote.block.page.js
  tests/milo/quote.block.test.js
Labels: run-milo-live, run-milo-prod, @quote
