Repository adobecom/nala, pull requests merged in 2023-01, with the labels that each got.

#45 FaaS Test Timeout Fix
  envs/envs.js
  features/faas.spec.js
  tests/faas.test.js
Labels: run-nala, trivial, @faas

#44 Daily runs fix
  package-lock.json
  package.json
  tests/imslogin.test.js
Labels: @imslogin, run-nala

#47 modal test workaround for MWPW-123567
  tests/modal.test.js
Labels: run-nala, trivial, @modal

#42 Added options to run tests against localhost.
  envs/envs.js
  runLocalRegression.sh
Labels: run-nala

#43 Feature branch directory parsing update
  features/parse.js
Labels: @marquee, run-nala

#51 updated readme
  README.md
Labels: trivial

#52 Fix for modal not showing up
  features/faas.spec.js
  selectors/faas.selectors.js
  tests/faas.test.js
Labels: run-nala, @faas

#53 Failed block fix for webkit executions
  tests/failedblock.test.js
Labels: @failedblock, run-nala
