Repository adobecom/nala, pull requests merged in 2023-04, with the labels that each got.

#92 DC converter and review block selector updates
  selectors/dc/dc_converter.selectors.js
  selectors/milo/review.selectors.js
  tests/dc/converter_L1.test.js
  tests/dc/converter_L2.test.js
Labels: run-nala, @converter, @review_block

#100 Fixed text check for Georouting
  selectors/milo/georouting.selectors.js
Labels: run-nala, @georouting, @georoutingV2

#99 updated playwright to latest patch
  package-lock.json
  package.json
Labels: trivial

#102 Updated bacom urls for failedBlocks test.
  features/milo/failedblock.spec.js
  tests/milo/failedblock.test.js
Labels: run-nala

#101 MWPW-129400 update consumer config and baseURL structure
  configs/acom.config.js
  configs/bacom.config.js
  configs/blog.config.js
  configs/dc.config.js
  configs/feds.config.js
  configs/milo.config.js
  run.sh
  tests/milo/carousel.block.test.js
Labels: run-nala, run-nala-milo, @carousel-container, run-milo-live

#104 MWPW-128629 : Update github self.yml job run check condition
  .github/workflows/self.yml
Labels: @carousel-container, run-milo-live

#103 [MWPW-129263] Update consent checks to match new PO logic
  pages/feds.consent.page.js
  selectors/feds/consent.selectors.js
  selectors/feds/feds.consent.page.js
  selectors/feds/feds.footer.page.js
  selectors/feds/feds.header.page.js
  tests/feds/consent.test.js
  tests/feds/header.test.js
  tests/feds/search.test.js
Labels: @feds-consent, run-nala-feds

#106 Adding stats block test.
  features/bacom/stats.spec.js
  selectors/bacom/stats.page.js
  tests/bacom/stat.test.js
Labels: @stats, run-bacom-live

#98 Include DC pages in columns and feds tests
  features/feds/consent.spec.js
  features/feds/footer.spec.js
  features/feds/header.spec.js
  features/feds/search.spec.js
  features/milo/columns.spec.js
  features/milo/failedblock.spec.js
  selectors/feds/feds.header.page.js
  tests/feds/header.test.js
Labels: @columns, @failedblock, run-nala, @feds-consent, @feds-search, @feds-header, @feds-footer

#108 Adding treeview tests
  features/bacom/tree-view.spec.js
  selectors/bacom/tree-view.page.js
  tests/bacom/tree-view.test.js
Labels: run-on-bacom-live, @tree-view

#109 Marquee block automation test script and intro to WebUtil lib
  .gitignore
  features/milo/marquee.block.spec.js
  features/milo/marquee.spec.js
  libs/webutil.js
  playwright.config.js
  selectors/milo/marquee.block.page.js
  selectors/milo/marquee.selectors.js
  tests/milo/marquee.block.test.js
  tests/milo/marquee.test.js
  tests/milo/modal.test.js
Labels: @marquee, run-milo-live, run-milo-prod

#110 MWPW-130318 : HowTo block automation test scripts
  features/milo/howto.block.spec.js
  features/milo/howto.spec.js
  libs/webutil.js
  selectors/milo/howto.block.page.js
  tests/milo/howto.block.test.js
Labels: @marquee, run-milo-live, run-milo-prod, @howto

#107 nala updates V2
  libs/webutil.js
  package-lock.json
  playwright.config.js
  selectors/feds/feds.consent.page.js
  selectors/feds/feds.footer.page.js
  selectors/feds/feds.header.page.js
  tests/feds/consent.test.js
  tests/feds/header.test.js
  tests/feds/search.test.js
  tests/milo/failedblock.test.js
  tests/milo/html_ext.test.js
  utils/reporters/base-reporter.js
Labels: run-nala, run-bacom-live, run-adobe-prod

#111 MWPW-130435 : Media block block automation test scripts
  features/milo/media.block.spec.js
  libs/webutil.js
  selectors/milo/media.block.page.js
  tests/milo/media.block.test.js
Labels: @marquee, run-milo-live, run-milo-prod, @howto, @media
