Repository adobecom/nala, pull requests merged in 2023-07, with the labels that each got.

#140 MWPW-133388 : Georouting feature test scripts
  features/milo/georouting.spec.js
  selectors/milo/georouting.feature.page.js
  selectors/milo/georouting.selectors.js
  tests/milo/georouting.feature.test.js
  tests/milo/georouting.test.js
Labels: @georouting, run-milo-live, run-milo-prod

#135 [MWPW-132768] Remove parse.js logic from FEDS checks
  selectors/feds/feds.consent.page.js
  selectors/feds/feds.footer.page.js
  selectors/feds/feds.header.page.js
  selectors/feds/feds.login.page.js
  selectors/milo/imslogin.selectors.js
  tests/feds/consent.test.js
  tests/feds/footer.test.js
  tests/feds/header.test.js
  tests/feds/jarvis.desktop.test.js
  tests/feds/jarvis.mobile.test.js
  tests/feds/search.test.js
  tests/feds/userprofile.test.js
  tests/milo/accordion.block.test.js
  tests/milo/carousel.block.test.js
  tests/milo/columns.block.test.js
  tests/milo/howto.block.test.js
  tests/milo/marquee.block.test.js
  tests/milo/media.block.test.js
  tests/milo/modal.block.test.js
  tests/milo/quote.block.test.js
  tests/milo/review.block.test.js
  tests/milo/text.block.test.js
  tests/milo/zpattern.block.test.js
Labels: run-milo-live, run-milo-prod

#141 MWPW-133693: Milo test scripts : update to ES6 way, refactor, code cleanup, comment cleanup, file name update
  features/bacom/failed.block.spec.js
  features/milo/faas.block.spec.js
  features/milo/htmlextn.spec.js
  selectors/bacom/failed.block.page.js
  selectors/milo/accordion.block.page.js
  selectors/milo/carousel.block.page.js
  selectors/milo/columns.block.page.js
  selectors/milo/faas.block.page.js
  selectors/milo/georouting.feature.page.js
  selectors/milo/howto.block.page.js
  selectors/milo/htmlextn.feature.page.js
  selectors/milo/marquee.block.page.js
  selectors/milo/media.block.page.js
  selectors/milo/modal.block.page.js
  selectors/milo/quote.block.page.js
  selectors/milo/review.block.page.js
  selectors/milo/text.block.page.js
  selectors/milo/zpattern.block.page.js
  tests/bacom/failed.block.test.js
  tests/milo/accordion.block.test.js
  tests/milo/carousel.block.test.js
  tests/milo/columns.block.test.js
  tests/milo/faas.block.test.js
  tests/milo/georouting.feature.test.js
  tests/milo/howto.block.test.js
  tests/milo/htmlextn.feature.test.js
  tests/milo/imslogin.feature.test.js
  tests/milo/marquee.block.test.js
  tests/milo/media.block.test.js
  tests/milo/modal.block.test.js
  tests/milo/quote.block.test.js
  tests/milo/review.block.test.js
  tests/milo/text.block.test.js
  tests/milo/zpattern.block.test.js
Labels: run-milo-live

#145 Fixing failures : HtmlExtn and Faas tests were failing on Windows platform
  features/milo/accordion.block.spec.js
  features/milo/carousel.block.spec.js
  features/milo/columns.block.spec.js
  features/milo/georouting.spec.js
  features/milo/howto.block.spec.js
  features/milo/htmlextn.spec.js
  features/milo/marquee.block.spec.js
  features/milo/media.block.spec.js
  features/milo/modal.block.spec.js
  features/milo/quote.block.spec.js
  features/milo/review.block.spec.js
  features/milo/text.block.spec.js
  features/milo/zpattern.block.spec.js
  selectors/milo/accordion.block.page.js
  tests/milo/faas.block.test.js
  tests/milo/georouting.feature.test.js
  tests/milo/htmlextn.feature.test.js
Labels: run-milo-live, @htmlextn

#144 MWPW-133863 : Icon block tests scripts
  features/milo/icon.block.spec.js
  selectors/milo/icon.block.page.js
  tests/milo/icon.block.test.js
Labels: run-milo-live, @icon

#146 Text block legal, link-farm variations automation
  features/milo/text.block.spec.js
  selectors/milo/text.block.page.js
  tests/milo/text.block.test.js
Labels: run-milo-live, @text

#147 Adding event speakers tests
  configs/bacom.config.js
  features/bacom/event-speakers.spec.js
  selectors/bacom/event-speakers.page.js
  tests/bacom/event-speakers.test.js
Labels: run-bacom-live, @event-speakers
