Repository adobecom/nala, pull requests merged in 2024-08, with the labels that each got.

#413 Adding marketo tests that runs on live pages
  features/bacom/blocks/event-speakers.spec.js
  features/bacom/blocks/failed.block.spec.js
  features/bacom/blocks/marketo-stage.spec.js
  features/bacom/blocks/stats.spec.js
  features/bacom/blocks/tree-view.spec.js
  features/bacom/e2e/marketo.spec.js
  tests/bacom/blocks/event-speakers.test.js
  tests/bacom/blocks/failed.block.test.js
  tests/bacom/blocks/marketo-stage.test.js
  tests/bacom/blocks/stats.test.js
  tests/bacom/blocks/tree-view.test.js
  tests/bacom/e2e/marketo.test.js
Labels: run-nala

#414 Adding sh script to run tests on browserstack.
  features/bacom/e2e/marketo.spec.js
  runOnBrowserstack.sh
Labels: run-nala

#415 Removed unnecessary waits.
  configs/bacom.config.js
  features/bacom/e2e/marketo.e2e.spec.js
  selectors/milo/marketo.block.page.js
  tests/bacom/blocks/marketo-stage.test.js
  tests/bacom/e2e/marketo.e2e.test.js
  tests/milo/marketo.block.test.js
Labels: run-nala, @marketo

#419 Updating tests to pass on bacom.
  features/milo/georouting.spec.js
  features/milo/merchcard.block.spec.js
  tests/milo/commerce.feature.test.js
  tests/milo/personalization.feature.test.js
  tests/milo/promotions.feature.test.js
Labels: run-nala

#418 warriors: update and activate commerce tests
  features/milo/commerce.spec.js
  features/milo/promotions.spec.js
  tests/milo/commerce.feature.test.js
  tests/milo/promotions.feature.test.js
Labels: run-nala, @commerce

#420 Adding marketo messages tests
  features/milo/marketo.block.spec.js
  selectors/milo/marketo.block.page.js
  tests/bacom/e2e/marketo.e2e.test.js
  tests/milo/marketo.block.test.js
Labels: run-nala, @marketo

#421 Adding bstack option to run.js
  run.js
Labels: run-nala

#422 Fixing failures due to cases.
  tests/milo/marketo.block.test.js
Labels: run-nala, @marketo

#423 resolve ERR_HTTP2_PROTOCOL_ERROR
  tests/milo/commerce.feature.test.js
  tests/milo/merchcard.block.test.js
Labels: run-nala

#424 warriors: add commerce test for UK locale
  features/milo/commerce.spec.js
  tests/milo/commerce.feature.test.js
Labels: run-nala

#426 commerce: add OST tests cases for Jenkins
  features/milo/ost.tools.spec.js
  selectors/milo/ost.tools.page.js
  tests/milo/ost.tools.test.js
Labels: run-nala
