Repository adobecom/nala, pull requests merged in 2025-04, with the labels that each got.

#494 Grid marquee block for Adobe Express
  features/express/grid-marquee.spec.js
  selectors/express/grid-marquee.page.js
  tests/express/grid-marquee.test.js
Labels: run-nala-on-express, @grid-marquee

#495 image-list tests: update destination url
  configs/express.config.js
  selectors/express/image-list.page.js
  tests/express/image-list.test.js
Labels: run-nala-on-express, @image-list

#497 Fix failing card tests.
  envs/envs.js
  features/express/discover-cards.spec.js
  selectors/express/cards.page.js
  selectors/express/discover-cards.page.js
  tests/express/cards.test.js
  tests/express/discover-cards.test.js
Labels: run-nala-on-express, @cards, @discover-cards

#499 [Milo][Video] Fix Milo Video tests for BACOM daily run
  features/milo/promotions.spec.js
  features/milo/video.block.spec.js
  selectors/milo/aside.block.page.js
  selectors/milo/merchcard.block.page.js
  selectors/milo/promotions.feature.page.js
  selectors/milo/video.block.page.js
  tests/milo/aside.block.test.js
  tests/milo/promotions.feature.test.js
  tests/milo/quote.block.test.js
  tests/milo/text.block.test.js
  tests/milo/video.block.test.js
Labels: run-nala

#500 Adobe Express - gen-ai-cards block
  features/express/gen-ai-cards.spec.js
  selectors/express/gen-ai-cards.page.js
  tests/express/gen-ai-cards.test.js
Labels: run-nala-on-express, @gen-ai-cards

#503 how-to-steps-carousel block
  features/express/how-to-steps-carousel.spec.js
  selectors/express/how-to-steps-carousel.page.js
  tests/express/how-to-steps-carousel.test.js
Labels: run-nala-on-express, @how-to-steps-carousel
