Repository adobecom/nala, pull requests merged in 2025-05, with the labels that each got.

#506 Adding marketo show hide test
  features/milo/marketo.block.spec.js
  selectors/milo/marketo.block.page.js
  tests/milo/marketo.block.test.js
Labels: run-nala, @marketo

#507 simplified pricing cards
  features/express/simplified-pricing-cards.spec.js
  selectors/express/simplified-pricing-cards.page.js
  tests/express/simplified-pricing-cards.test.js
Labels: run-nala-on-express, @simplified-pricing-cards

#513 Ax columns
  features/express/ax-columns.spec.js
  selectors/express/ax-columns.page.js
  tests/express/ax-columns.test.js
Labels: run-nala-on-express, @ax-columns
